
# pycharm files
.idea/
__pycache__/

# large files
data
data/

# data and results
*.csv
run/*
run/*.pickle
!ber/*.csv
# images
*.png
*.jpg

# old files
old.*

# model files
models/

# Weights and Biases folder
wandb/

# local projects
dl_ofdm/

# others
*.out
*.bak
*.tmp

# local
i.*
